<p>下記項目に入力後、『ログイン』をクリックしてください</p>

<%= form_with scope: :session, url: login_path do |f| %>

    <%= f.label :ユーザーID %>

    <%= f.text_field :user_id %>

    <%= f.label :パスワード %>

    <%= f.password_field :password %>

    <%= f.submit "ログイン", class: "btn btn-primary" %>

<% end %>