<p>ユーザー情報編集</p>

<p>下記項目に入力後、『編集完了』をクリックしてください</p>

<%= form_with model: @user, local: true do |f| %>

  <%= f.label :ユーザー名 %>

  <%= f.text_field :name %>

  <%= f.label :年齢 %>

  <%= f.number_field :age %>

  <%= f.label :"従業員ID(8桁の従業員番号を入力)" %>

  <%= f.number_field :user_id %>

  <%= f.label :勤務区分 %>

  <%= f.radio_button :work_status, 1 %>社員

  <%= f.radio_button :work_status, 2 %>パートナー

  <%= f.radio_button :work_status, 3 %>アルバイト

  <%= f.radio_button :work_status, 4 %>早朝アルバイト

  <%= f.label :店舗営業資格有り %>

  <%= f.check_box :license ,{}, "true", "false" %>

  <%= f.label :実習生 %>

  <%= f.check_box :rookie ,{}, "true", "false" %>

  <%= f.submit "登録完了" %>

<% end %>