<p>管理者トップ</p>

<%= link_to "シフトを新規作成", admin_requested_shifts_path %>

<%= link_to "確定シフトを編集", admin_fixed_shifts_path %>

<%= link_to "ユーザー新規登録", new_admin_user_path %>

<%= link_to "ユーザー一覧", new_admin_user_path %>

<%= link_to "トップページに戻る", root_path %>